
.table_1 {
    width: 80%;
    margin: 0px 20px 0px 20px;
}

.table_1 td,
.table_1 th {
    border: 1px solid black;
    text-align: center;
}

.table_1 th {
    background: tan;
}

.error {
    color: red;
    font-weight: bold;
}

.red {
    color: red;
}